*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;

}

:root{
    --color-fondo: #1a1a29;
    --color-menu: #d1ceca;
    --verde-titulo: #34B0BE ;
    --circulo-colorfond:#242635;
}

body{
    padding: 1.5rem;
    background-color: var(--color-fondo);
}

main{
    display: block;
    margin-bottom: 2rem;
    flex-direction: row;
    background-image: url(../íconos/lavado-en-seco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20rem;
    position: absolute;
    left: calc(50% - 10rem);
    right: calc(50% - 10rem);
    
}

label > img{
   filter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3142%) hue-rotate(243deg) brightness(103%) contrast(110%);
}

input#menu-hamburguesa{
    display: none;  
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 40px;   
}
.menuh{
    position: absolute;   
    right: 0;
    margin-right: 2rem;
}

.ul-nav{
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    gap: 2rem;
    height: calc(100vh - 80px);
    background-color: var(--color-menu);
    margin-top: 40px;
    z-index: 3;
    padding: 2rem; 
}

ul.ul-nav > li  {
    list-style: none;
    color: var(--color-fondo);
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;   
}

.contenedor-main{
    position: relative;
    left: -30px;
}


h2{
    position: relative;
    left: 0;
   display: block;
}

h1{
    border-bottom: 1px;
    border-color: white;
    border-bottom-style: solid;
    display:inline;
    color: var(--verde-titulo);

}
h4{
    display: block;
    margin-top: 0.8rem;
}

main > .contenedor-main.uno{
    width: 8rem;
   
}


div.exp-icon > div{
background-color: white;
border-radius: 50%;
height:2.3rem;
width: 2.3rem;
display: flex;
align-items: center;
justify-content: center;
margin-right: 1rem;

}


.exp-icon{
    display: flex;
}

#icon-lin {
    position:relative;
    bottom: -20px;  
}

#icon-inst {
    position:relative;
    bottom: -20px;  
}

#icon-twi {
    position:relative;
    bottom: -20px;
    margin-right: 0; 
}


.experiencia{
    display: block;
    position: absolute;
    right: -80px;
    padding-top: 1rem;
    top: 0%;
    
    
}

.iconmain{
    position: relative;
    display:flex;
}


h3{
    position: relative;
    color: var(--verde-titulo);
    display: block;
}





main > img{
    position: absolute;
    width: 20rem;
    height: 20rem;
    filter:brightness(0) saturate(100%) invert(11%) sepia(9%) saturate(2329%) hue-rotate(195deg) brightness(96%) contrast(88%)
}




.iconhead{
    position: absolute;
    width: 25rem;
    height: 4rem;
    background-color: var(--circulo-colorfond);
    top: 370px;
    display: grid;
    grid-template-columns:[x0] 1.5fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1.5fr ;
    right: calc(50% - 12.5rem) ;
    border-radius: 0.8rem;
    align-items: center;
    


   
}

div.iconhead > div{
    height: 2.5rem;
    width: 4.5rem;
    background-color:var(--color-menu);
    margin: auto 1rem; 
    border-radius: 0.5rem;

    
    
 
}

.icono{
   display: flex;
   justify-content: center;
   align-items: center;
}

.icono > img{
   width: 2.4rem  ;  
}

.aca > img{
    width: 2.5rem;
    height: 2.5rem;
    filter:  brightness(0) saturate(100%) invert(11%) sepia(8%) saturate(2524%) hue-rotate(195deg) brightness(94%) contrast(88%);

}



.go{
   
    grid-column: x1;
}


#quiensoy{
    margin-top: 23rem;
   
}

.tituloacerca{
    color: var(--verde-titulo);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1rem    ;
    padding: 2rem; 
    font-size: xx-large;
}

#quiensoy{
    padding:1rem 2.8rem;
}



.servicios-area{    
    display: flex;
    
    overflow: auto;
}
section > div.cardsection{
    width: 8rem ;
    height: 24rem;
    text-align: center;
    background-color: #ffffff;
    min-width: 22rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    background-image: url(../Vectores/Ellipse\ 14.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom:2rem ;
}

.contenedor-title{
    margin:auto;
    text-align: center;
    margin-bottom: 2rem;
}

.titulo-section{
    color: var(--verde-titulo);
    font-size: xx-large;

}

div.cardsection > img{
    position: relative;
    bottom: -100px;
    left: 7px;
    
}

.textcard{
    color: var(--color-menu);
    position: relative;
    top: 120px;
    
}

.textcard > span{
    color: black;
    font-size: xx-large;
    margin-bottom: 2rem ;
    
}

.mis-habilidades{
    margin-top: 2rem;
}

.title-habilidades{
    font-size: xx-large;
    color: var(--verde-titulo);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;

}

.title-habilidades ~ p{
    font-size:larger;
}

progress[value] {
    display: block;
    height: 1.2rem;
    width: 100%;
    appearance: none;
  -webkit-appearance: none;
  margin-bottom: 2.5rem;

  

}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 1rem;
  }

  progress[value]::-webkit-progress-value {
    background-color: var(--verde-titulo);
    border-radius: 1rem;

  }

  .portafoliotittle{
    font-size: x-large;
    color: var(--verde-titulo);
    text-align: center;
    margin-bottom: 3rem;
  }

  .container-portafolio{
    display: flex;
    overflow: auto;
  }

  .container-portafolio > img{
      width: 331px;
      height: 219px;
      margin-right: 2rem;
  }

  .tittle-contacto{
      text-align: center;
      color: var(--verde-titulo);
      font-size: xx-large;
      margin-top: 4rem;
  }

  .containercontac{
      display: flex;
      height: 35rem;
      padding-top: 4rem;
      position: relative;
      padding-right: 4rem;
      
  }

  .containercontac > div{
      height: 220px;
      width: 300px;
      background-color: white;
      margin-left: 1rem;
      text-align: center;
      background-image: url(../Vectores/Ellipse\ 14.svg);
      background-repeat: no-repeat;
      background-size:contain;
      border-radius: 0.5rem;
      min-width: 300px;
     
      position: relative;
     
    
     
    
      
  }

  .icontel > img{
      width: 80px;
      height: 80px;
      position: relative;
      top: 65px ;
      
      
  }

  #iconemail > img{
      width: 80px;
      height: 80px;
      position: absolute;
      top: 65px ;
      left: 5px;
     

  }

  .cardcontac ~ p{
      color: black;
      font-size:x-large;
      position: relative;
      top: 55px ;
     
  }

  .titlecontact > span{
      color: var(--color-menu);
      font-size: large;
  }

  #iconemail{
      align-self: flex-end;
      position: absolute    ;
      right: 0;
      margin-right: 1rem;
  }


