*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Red+Hat+Display:wght@300&display=swap');
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-fondo: #1a1a29;
    --color-menu: #d1ceca;
    --verde-titulo: #34B0BE ;
    --circulo-colorfond:#242635;
}

body{
   
    background-color: var(--color-fondo);
}
header{
    width: 100%;
    height: 18rem;
    display:flex;
   
}

main{
    display: flex;
    flex-direction: row;

    height: 20rem;
    position: absolute;
    left: calc(50% - 10rem);
    right: calc(50% - 10rem);
  
    
}

label > img{
   filter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3142%) hue-rotate(243deg) brightness(103%) contrast(110%);
}

input#menu-hamburguesa{
    display: none;  
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 40px;   
    
}
.menuh{
    position: absolute;   
    right: 0;
    padding-right: 1rem;
    
}

.ul-nav{
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    gap: 2rem;
    height: calc(100vh - 80px);
    background-color: var(--color-menu);
    margin-top: 40px;
    z-index: 3;
    padding: 2rem; 
}

ul.ul-nav > li  {
    list-style: none;
    color: var(--color-fondo);
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;   
}

.contenedor-main{
    position: absolute;
    left: 20px;
    bottom: 220px;
    z-index: 3;
}


    h2{
        position: relative;
        left: 0;
    display: block;
    font-size: 15px;
}

h1{
    border-bottom: 1px;
    border-color: white;
    border-bottom-style: solid;
    display:inline;
    color: var(--verde-titulo);
    font-size: 25px;
 

}
h4{
    display: block;
    margin-top: 0.8rem;
    font-size: small;
}

main > .contenedor-main.uno{
    width: 8rem;
   
}
.perfil{
    height: 24rem;
    width: 24rem;
    object-fit: contain;
    z-index: 1;
    position:absolute ;
    right: calc(50% - 12rem);
    top: -135px;
    

}


    div.exp-icon > div{
    background-color: white;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.7rem;

}

.iconn > img{
    height: 1rem;
    width: 1rem;
}

.exp-icon{
    display: flex;
    position: absolute;
}

#icon-lin {
    position:relative;
    bottom: -10px;  
}

#icon-inst {
    position:relative;
    bottom: -10px;  
}

#icon-twi {
    position:relative;
    bottom: -10px;
    margin-right: 0; 
}


.experiencia{
    display: block;
    position: absolute;
    left:200px;
    padding-top: 1rem;
    top: -16px;
    z-index: 3;
    
    
}

.iconmain{
    position: relative;
    display:flex;
}


h3{
    position: relative;
    color: var(--verde-titulo);
    display: block;
    font-size: medium;
}





main > #circulo{
    position: absolute;
    width: 15rem;
    height: 15rem;
    filter:brightness(0) saturate(100%) invert(11%) sepia(9%) saturate(2329%) hue-rotate(195deg) brightness(96%) contrast(88%);
    left: 0;
    left: calc(50% - 7.5rem) ;
    
}




.iconhead{
    position: relative;
    width: 15rem;
    height: 4rem;
    background-color: var(--circulo-colorfond);
    top: 230px;
    display: flex;
    left: calc(50% - 7.5rem);
    border-radius: 0.8rem;
    justify-content: center;

}

div.iconhead > div{
    height: 2.5rem;
    width: 4.5rem;
    background-color:var(--color-menu);
    margin: auto 1rem; 
    border-radius: 0.5rem;

    
    
 
}

.icono{
   display: flex;
   justify-content: center;
   align-items: center;
}

.icono > img{
   width: 2.4rem  ;  
}

.aca > img{
    width: 2.5rem;
    height: 2.5rem;
    filter:  brightness(0) saturate(100%) invert(11%) sepia(8%) saturate(2524%) hue-rotate(195deg) brightness(94%) contrast(88%);

}



.go{
   
    grid-column: x1;
}


#quiensoy{
   
    display: flex;
    justify-content: center;
    text-align: center;
    padding:2rem 2.8rem;
    padding-top: 1rem;
}

.tituloacerca{
    color: var(--verde-titulo);
   display: flex;
   justify-content: center;
    padding: 3rem 1rem; 
    font-size: xx-large;
}


.servicios{
    
    display: block;
}


.servicios-area{    
    display: flex;
    
    overflow: auto;
    margin-left: 1rem;
}
section > div.cardsection{
    width: 15rem ;
    height: 20rem;
    text-align: center;
    background-color: #ffffff;
    min-width: 15rem;
    margin-left: 1rem;
    border-radius: 0.3rem;
    background-image: url(../Vectores/Ellipse\ 14.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom:2rem ;
}


.marketing ~.research{
    margin-right: 1rem;
}

.contenedor-title{
    margin:auto;
    text-align: center;
    margin-bottom: 2rem;
}

.titulo-section{
    color: var(--verde-titulo);
    font-size: xx-large;

}

div.cardsection > img{
    position: relative;
    bottom: -45px;
    left: 7px;
    
}

.textcard{
    color: var(--color-menu);
    position: relative;
    top: 60px;
    
}

.textcard > span{
    color: black;
    font-size: xx-large;
    margin-bottom: 2rem ;
    
}

.mis-habilidades{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-habilidades{
    font-size: xx-large;
    color: var(--verde-titulo);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;

}

.title-habilidades ~ p{
    font-size:larger;
}

progress[value] {
    display: block;
    height: 1.2rem;
    width: 94vw;
    appearance: none;
    margin-left:  1rem;
    margin-right: 1rem;
  -webkit-appearance: none;
  margin-bottom: 2.5rem;

  

}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 1rem;
  }

  progress[value]::-webkit-progress-value {
    background-color: var(--verde-titulo);
    border-radius: 1rem;

  }

  .portafoliotittle{
    font-size: x-large;
    color: var(--verde-titulo);
    text-align: center;
    margin-bottom: 3rem;
  }

  .container-portafolio{
    display: flex;
    overflow:auto;
    position: relative;
   
    
    
  }

  

  .container-portafolio > img{
      width: 331px;
      height: 219px;
      margin-left: 1rem;
      
  }

  #imagenfinal{
      margin-right: 1rem;
  }

  .tittle-contacto{
      text-align: center;
      color: var(--verde-titulo);
      font-size: xx-large;
      margin-top: 6rem;
      margin-bottom: 4rem;
  }

  .containercontac{
      display: flex;
      height: 34rem;
      padding-top: 3rem;
     
     justify-content: center;
     
      padding: 1rem;
      
      
      
      
  }

  .containercontac > div{
      height: 220px;
      width: 220px;
      background-color:white;
      text-align: center;
      background-image: url(../Vectores/Ellipse\ 14.svg);
      background-repeat: no-repeat;
      background-size:contain;
      border-radius: 0.5rem;
     margin-left: 1rem;
        position: relative;
        min-width: 120px;
      
  }

  .icontel > img{
      width: 80px;
      height: 80px;
      position: relative;
      top: 65px ;
      
      
      
  }

  #iconemail > img{
      width: 80px;
      height: 80px;
      position: relative    ;
      top: 65px ;
      left: 5px;
     

  }

  .cardcontac ~ p{
      color: black;
      font-size:x-large;
      position: relative;
      top: 55px ;
     
  }

  .titlecontact > span{
      color: var(--color-menu);
      font-size:x-small;
  }

  #iconemail{
    align-self: flex-end;
  }

 
  

  footer > div{
      background-color: var(--circulo-colorfond);
      height: 8rem;
     margin-top: 8rem;
    align-items:center;
    display: flex;
    justify-content: center;
    

  }


  .tittlefooter{
      color:var(--verde-titulo);
      font-size: 20px;
  }

  @media screen and  (max-width: 317px){
      p{
          font-size: 15px;
      }
      .tituloacerca{
          font-size: 20px;
      }
      .titulo-section{
          font-size: 20px;
      }
      .title-habilidades {
        font-size: 20px;
      } 
      .portafoliotittle{
        font-size: 20px;
      } 
      .tittle-contacto{
        font-size: 20px;
      }
  }

  @media screen and  (min-width: 400px){
    .contenedor-main{
        left: 0;
    }
    .experiencia{
        left:210px;
    }


  }


  @media screen and  (min-width: 600px){
      .h2{
          font-size: 30px;
      }

      main > img{
       
        width: 20rem;
        height: 20rem;
       

        }
        
     .iconhead{

           width: 20rem ;
            top: 230px;
            left: calc(50% - 10rem);
        }
   
  
      
        .experiencia{
            left:230px;
            top:  7px;
           }

           .contenedor-main{
            position: relative;
            left: -20px;
            top: 27px;

           }

           h2{
               font-size:x-large;
           }
           h1{
               font-size: xx-large;
           }
           h3{
               font-size:large;
               margin-bottom: 0.5rem;
           }
           div.exp-icon > div{
            height:2.5rem;
            width: 2.5rem;
         
            }

            #numero{
                font-size: 15px;
            }

            .perfil{
                height: 24rem;
                width: 24rem;
                object-fit: contain;
                z-index: 1;
                position:absolute ;
                right: calc(50% - 12rem);
                top: -135px;
            }

         
        
}

        



  @media screen and  (min-width: 800px){
    .servicios-area{    
        display: flex;
        
        overflow: none;
        margin-left: 1rem;
        justify-content: center;
    }
  }


  @media screen and  (min-width: 992px){

    .menuh{
        display: none;
    }

    nav{
        height: 4rem;/*
        border-bottom: 1px;
        border-color:var(--color-menu);
        border-bottom-style: solid;*/
        margin-bottom: 3rem; 
    }

    .ul-nav{
        display: flex;
        height: 4rem;
        margin-top: 0%;
        flex-direction: row;
        justify-content: end;
        background-color: transparent;
    }

    ul.ul-nav > li{
        color: white;
    }

    .container-portafolio{
        display: flex;
        overflow:none;
        position: relative;
        justify-content: center;
    
      }

    
      
      main > img#circulo{
       
        width: 30rem;
        height: 30rem;
         left: calc(50% - 15rem) ;
        }
        
     .iconhead{

           width: 40rem ;
           height: 7rem;
            top: 460px;
            left: calc(50% - 20rem);
        }
   
        header{
            margin-bottom: 8rem;
        }
      
        .experiencia{
            left: 280px;px;
            top: 20px;
           }

           .iconn > img{
            height: 1.9rem;
            width: 1.9rem;
        }

           .contenedor-main{
            position: relative;
            left: -190px;
            top: 27px;

           }
           .icono > img{
            width: 3.5rem  ;  
         }
         
         .aca > img{
             width: 3.5rem;
             height: 3.5rem;
             filter:  brightness(0) saturate(100%) invert(11%) sepia(8%) saturate(2524%) hue-rotate(195deg) brightness(94%) contrast(88%);
         
         }
         div.iconhead > div{
            height: 5rem;
            width: 8rem;
         }
         

      
            h2{
               font-size:xx-large;
           }
           h1{
               font-size:70px;
           }
           h3{
               font-size:xx-large;
           }
           h4{
               font-size: larger;
           }
           div.exp-icon > div{
            height:2.5rem;
            width: 2.5rem;
         
            }
            header{
                margin-bottom: 17rem;
            }

            #quiensoy{
                font-size: 22px;
            }
            .portafoliotittle{
                font-size: xx-large;
            }
            
            .perfil{
                height: 50rem;
                width: 50rem;
                object-fit: contain;
                z-index: 1;
                position:absolute ;
                right: calc(50% - 25rem);
                top: -310px;
            }


  }

  .texto_responsive:before{
    content: attr(data-desktoptext);
  }
  
  @media (max-width:900px) {
      .texto_responsive:before {
          content: attr(data-tablettext);
      }
  }
  
  @media (max-width:400px){
      .texto_responsive:before {
          content: attr(data-phonetext);
      }
  }

  @media (min-width:1084px){
    progress[value] {
        max-width: 1015.2px;
    }
    #texquiensoy{
        max-width:1015.2px ;
    }
    
}